{% extends 'mainlayout.html' %}
{%block content%}

    <div class="col">
        <table id="AnalysisTable" class="table table-bordered table-striped">
           <th>Year</th>
            <th>Max</th>
            <th>Min</th>
            <th>Average</th>


            <tr>
                <td>{{2010}}</td>
                <td>{{myList['2010']['Max']}}</td>
                <td>{{myList['2010']['Min']}}</td>
                <td>{{myList['2010']['Average']}}</td>

            </tr>

                 <tr>
                <td>{{2011}}</td>
                <td>{{myList['2011']['Max']}}</td>
                <td>{{myList['2011']['Min']}}</td>
                <td>{{myList['2011']['Average']}}</td>

            </tr>

                 <tr>
                <td>{{2012}}</td>
                <td>{{myList['2012']['Max']}}</td>
                <td>{{myList['2012']['Min']}}</td>
                <td>{{myList['2012']['Average']}}</td>

            </tr>

                 <tr>
                <td>{{2013}}</td>
                <td>{{myList['2013']['Max']}}</td>
                <td>{{myList['2013']['Min']}}</td>
                <td>{{myList['2013']['Average']}}</td>

            </tr>

                 <tr>
                <td>{{2014}}</td>
                <td>{{myList['2014']['Max']}}</td>
                <td>{{myList['2014']['Min']}}</td>
                <td>{{myList['2014']['Average']}}</td>

            </tr>

                 <tr>
                <td>{{2015}}</td>
                <td>{{myList['2015']['Max']}}</td>
                <td>{{myList['2015']['Min']}}</td>
                <td>{{myList['2015']['Average']}}</td>

            </tr>

                 <tr>
                <td>{{2016}}</td>
                <td>{{myList['2016']['Max']}}</td>
                <td>{{myList['2016']['Min']}}</td>
                <td>{{myList['2016']['Average']}}</td>

            </tr>

                 <tr>
                <td>{{2017}}</td>
                <td>{{myList['2017']['Max']}}</td>
                <td>{{myList['2017']['Min']}}</td>
                <td>{{myList['2017']['Average']}}</td>

            </tr>

                 <tr>
                <td>{{2018}}</td>
                <td>{{myList['2018']['Max']}}</td>
                <td>{{myList['2018']['Min']}}</td>
                <td>{{myList['2018']['Average']}}</td>

            </tr>

            <tr>
                <td>{{2019}}</td>
                <td>{{myList['2019']['Max']}}</td>
                <td>{{myList['2019']['Min']}}</td>
                <td>{{myList['2019']['Average']}}</td>

            </tr>

            <tr>
                <td>{{2020}} Jan - Feb</td>
                <td>{{myList['2020']['Max']}}</td>
                <td>{{myList['2020']['Min']}}</td>
                <td>{{myList['2020']['Average']}}</td>

            </tr>

            <tr>
                <td>{{2020}} March - Present from Predictions</td>
                <td>{{myList['2020Predictions']['Max']}}</td>
                <td>{{myList['2020Predictions']['Min']}}</td>
                <td>{{myList['2020Predictions']['Average']}}</td>

            </tr>

        </table>
    </div>
    <div class="col">
           <div id="graphdiv4"
  style="width:500px; height:300px;"></div>
<script type="text/javascript">
  g3 = new Dygraph(
    document.getElementById("graphdiv4"),
    "{{ url_for('static', filename='Analysis.csv') }}",
    {
      rollPeriod: 7,
      showRoller: true
    }
  );
</script>

    </div>


{%endblock%}