{% extends 'mainlayout.html' %}
{%block content%}
    <div class="content-section">
   
        <h1></h1>
        
        <form action="/historical" method = "POST">
            {{ form.csrf_token }}

            <fieldset class="form-group">
                <legend class="border-top mb-4">Select Date to Display Table</legend>
                <div class="form-group">
                    {{form.historicalOptions.label(class = "form-control-label")}}  {{form.historicalOptions(class = "form-control form-control")}}
                    {{form.date.label(class = "form-control-label")}} {{form.date(class = "form-control form-control")}}
                   
                    {{form.dateto.label(class = "form-control-label")}} {{form.dateto(class = "form-control form-control")}}
                    {% if form.date.errors %}
                    
                    {{form.date(class = "form-control form-control-lg is-invalid")}}
                    {{form.dateto(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">

                        {% for error in form.date.errors %}
                            <span id="formError">{{ error }}</span>
                        {% endfor %}

                    </div>
                    {% endif %}


                    
                    
                </div>
           
        
       
           
            </fieldset>


     <fieldset class="form-group">
        <div class ="form-group">
            {{form.submit(class = "btn btn-outline-info")}}

        </div>
    </fieldset>

        </form>





    </div>
   {%endblock%}