{% extends 'mainlayout.html' %}
    {% block content%}
   
        <div class="col-lg-4 col-md-4 col-sm-12" id="index">

         <h1 class="text-primary">Welcome</h1>
         <p class="text-justify" id="indexText">Impact Predictor was created to show Global Warming is happening in Ireland, through data analysis and Historical Data. Throughout this website you will be able to make up your own mind on the question, Has Global Warming affected irish weather in anyway.</p>

        </div>
        
    
   
    {%endblock %}
   

