{% extends 'mainlayout.html' %}
    {% block content%}
   

        
      <div class ="col" id="myTable">



        <h1 class="text-primary">Historical Data</h1>
        
            <table class="table table-bordered table-striped">
                <th class="text-center">Day</th>
                <th class="text-center">Month</th>
                <th class="text-center">Year</th>
                <th class="text-center">{{hist}}</th>

                {% for table in myData%}
                <tr>


                    <td class="text-center">{{table[0].day}}</td>

                    <td class="text-center">{{table[0].month}}</td>

                    <td class="text-center">{{table[0].year}}</td>

                    <td class="text-center">{{table[1]}}</td>



                </tr>
                {%endfor%}


            </table>

             </div>
        
        
    
   
    {%endblock %}

    {%block extracontent %}


    <div id="graphdiv3"
  style="width:500px; height:300px;"></div>
<script type="text/javascript">
  g3 = new Dygraph(
    document.getElementById("graphdiv3"),
    "{{ url_for('static', filename='Graph.csv') }}",
    {
      rollPeriod: 7,
      showRoller: true
    }
  );
</script>





    {%endblock%}
